.button-primary {
  color: var(--main-white);
  background-color: var(--brand-color-accent);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  /* width: 216px;
    height: 50px; */
  padding: 10px 32px;
  display: block;
  border: 0;
  border-radius: 4px;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.button-primary:hover,
.button-primary:focus {
  background-color: #188ce8;
}
