.button {
    display: inline-block;
    position: absolute;
    width: 216px;
    border: 1px;
    border-color: var(--brand-color-accent);
    border-radius: 6px;
    padding: 10px 29px 10px 30px;
}