.backdrop {
  padding: 93px 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  scale: 1;
  transition-property: scale, opacity;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  z-index: 3;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  scale: 0;
}

.modal {
  padding: 40px;
  @include tablet {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 609px;
  }
  @include desktop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
  }

  background-color: var(--main-white);
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  @extend %flex-align;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--main-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  &:hover {
    fill: var(--brand-color-accent);
    border: 1px solid var(--brand-color-accent);
  }
}

.form__button {
  margin: 30px auto 0px auto;
  padding: 10px 52px;
}

.contact-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--brand-color-title);
  margin-bottom: 12px;
}

.contact-form__item {
  list-style-type: none;
  margin-bottom: 10px;
}

.contact-form__part {
  position: relative;
  fill: var(--brand-color-title);
  /* margin-top: 10px; */
}

.contact-form__label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  margin-bottom: 4px;
  color: var(--brand-color-text);
}

.contact-form__input {
  width: 448px;
  height: 40px;
  padding: 11px 12px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms;
  transition-timing-function: var(--timing-function);
  &:focus,
  &:hover {
    border-color: var(--brand-color-accent);
  }
  &:focus + svg,
  &:hover + svg {
    fill: var(--brand-color-accent);
  }
}

.contact-form__textarea {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms;
  transition-timing-function: var(--timing-function);
  &:focus,
  &:hover {
    border-color: var(--brand-color-accent);
  }
}

.contact-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms;
  transition-timing-function: var(--timing-function);
}

.checkbox {
  position: relative;
  fill: var(--brand-color-title);
  margin-top: 20px;
}

.checkbox__label {
  @extend %flex-align;
  justify-content: center;

  font-size: 14px;
  line-height: 1.7;
  color: var(--brand-color-text);
  /* gap: 10px; */
  /* margin-top: 20px; */
}

.checkbox__box {
  @extend %flex-align;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 0px;
  border: 2px solid var(--brand-color-title);
  border-radius: 2px;
  margin-right: 8px;
  transition: background-color 250ms;
  transition-timing-function: var(--timing-function);
}

.checkbox__box svg {
  fill: transparent;
  transition: fill 250ms;
  transition-timing-function: var(--main-white);
}

.checkbox__input:checked + label > span {
  border: none;
  background-color: var(--brand-color-accent);
}

.checkbox__input:checked + label > span svg {
  fill: var(--main-white);
}

.checkbox__link {
  color: var(--brand-color-accent);
}
