.buttons {
  align-items: center;
  margin-bottom: 50px;
}

.buttons__list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.buttons__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border: 0px;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
  color: var(--brand-color-title);
  background-color: var(--secondary-bg);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  &:hover,
  &:focus {
    background-color: var(--brand-color-accent);
    color: var(--main-white);
  }
}

.buttons__item--current {
  background-color: var(--brand-color-accent);
  color: var(--main-white);
}

.buttons__item--large {
  padding: 6px 20px;
}
