*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    background-color: var(--main-white);
    color: var(--brand-color-text);
    font-family: roboto, sans-serif;
}