.advantages {
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
}

.advantages__item {
  width: 100%;
}

.advantages__img {
  @extend %flex-align;
  justify-content: center;
  width: 100%;
  padding: 25px 0;

  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.advantages__name {
  color: var(--brand-color-title);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  @media screen and (min-width: 480px) {
    text-align: center;
  }
}

.advantages__descript {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
