.section {
    color: var(--brand-color-text);
    padding: 94px 0;
}

.advantages-container {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.advantages-item {
    width: 270px;
}

.advantages-item-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
}


.section-part {
    color: var(--brand-color-title);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.section-descript {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em
}