.cases__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  text-decoration: none;
  list-style-type: none;
}

.cases__card {
  width: 370px;
  align-items: center;
  transition: box-shadow 250ms var(--timing-function);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:hover .cases__overlay,
  &:focus .cases__overlay {
    transform: translateY(0);
  }
}

.cases__link {
  text-decoration: none;
}

.cases__overlay {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translateY(101%);
  transition: transform 250ms var(--timing-function);
}

.cases__img {
  display: block;
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}

.cases__descript {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--main-white);
  margin: 0px;
  padding: 63px 24px;
}

.cases__footer {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.cases__name {
  color: var(--brand-color-title);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.cases__spec {
  color: var(--brand-color-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
