.clients {
  max-width: 100%;
  align-items: center;
  padding: 60px 15px;

  @include desktop {
    padding: 94px 15px;
  }
}

.clients__name {
  color: var(--brand-color-title);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.clients__list {
  @extend %flex-align;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}

.clients__item {
  list-style-type: none;
  width: calc((100% - 30px) / 2);
  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 3);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 150px) / 6);
  }
}

.clients__link {
  width: 100%;
  height: 92px;
  @extend %flex-align;
  justify-content: center;
  text-decoration: none;
  list-style-type: none;
  fill: var(--soc-icon);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    border: 1px solid var(--brand-color-accent);
    fill: var(--brand-color-accent);
  }
}
