.footer {
  background-color: var(--brand-color-bg);
  padding: 60px 0;
}

.footer-box {
  display: flex;
  padding: 93px;
  align-items: baseline;
}

.footer-info-blocks {
  display: flex;
  /* flex-grow: 1; */
  gap: 70px;
  align-items: baseline;
}

.footer-info-item {
  list-style-type: none;
  display: block;
}

.footer-social {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1, 14;
  letter-spacing: 0.03;
  color: var(--main-white);
  margin-bottom: 20px;
}

.logo-link-f {
  text-decoration: none;
  @extend %flex-align;
  max-width: 145px;
  margin-bottom: 20px;
}

.logo-st-footer {
  color: var(--main-white);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);

  &:hover {
    color: var(--brand-color-accent);
  }
}

.contact-list-f {
  padding: 0;
}

.site-nav-li {
  list-style-type: none;
  margin-bottom: 9px;
}

.site-nav-li:last-child {
  margin-bottom: 0;
}

.geolocation {
  color: var(--main-white);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    color: var(--brand-color-accent);
  }
}

.site-nav-f {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    color: var(--brand-color-accent);
  }
}

.soc-link-f {
  justify-content: center;
  @extend %flex-align;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--main-white);
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  &:hover,
  &:focus {
    background-color: var(--brand-color-accent);
    fill: var(--main-white);
  }
}

.push-next-block {
  flex-grow: 1;
}

.form-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white);
  margin-bottom: 20px;
}

.form-footer {
  @extend %flex-align;
  gap: 12px;
  fill: var(--main-white);
}

.form-input-f {
  position: relative;
}

.form-footer-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  outline: none;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--brand-color-bg);
  transition: border-color 250ms var(--timing-function);
  &:focus,
  &:hover {
    border: 1px solid var(--brand-color-accent);
  }
}

.form-footer-label {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition-property: transform 250ms var(--timing-function);
}

.form-footer-input:focus + .form-footer-label {
  transform: translateY(-45px);
}

.form-footer-input:not(:placeholder-shown) + .form-footer-label {
  transform: translateY(-45px);
}

.form-button-f {
  @extend %flex-align;
  gap: 10px;
  padding: 13px 35px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 9;
  border: 0;
  cursor: pointer;
  fill: var(--main-white);
  color: var(--main-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--brand-color-accent);
}

.form-button-img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 28px;
}
