.footer {
  width: 100%;
  background-color: var(--brand-color-bg);
  padding: 60px 15px;
}

.footer__block {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: space-between;
  align-items: center;

  @include tablet {
    align-items: baseline;
  }
  @include desktop {
    flex-wrap: nowrap;
    gap: 70px;
    align-items: baseline;
  }
}

.footer__item {
  list-style-type: none;
  display: block;
  width: 100%;
  margin: 0 auto;

  @include tablet {
    width: calc((100% - 90px) / 2);
  }
  @include desktop {
    width: calc((100% - 30px) / 3);
  }
}

.logo--footer {
  max-width: 145px;
  margin-bottom: 20px;
  margin: 0 auto;
}

.logo__second--footer {
  color: var(--main-white);
}

.connections {
  padding: 0;
}

.connections__way {
  list-style-type: none;
  margin-bottom: 9px;
  text-align: center;
  &:last-child {
    margin-bottom: 0;
  }
}

.connections__link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    color: var(--brand-color-accent);
  }
}

.connections__link--geolocation {
  color: var(--main-white);
}

.socials__invitation {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1, 14;
  letter-spacing: 0.03;
  color: var(--main-white);
  text-align: center;
  margin-bottom: 20px;
}

.footer--centred {
  justify-content: center;
}

.footer--socials {
  fill: var(--main-white);
  background-color: rgba(255, 255, 255, 0.1);
}

// .footer__item--push {
//   flex-grow: 1;
// }

.subscribe-form__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--main-white);
  margin-bottom: 20px;
}

.subscribe-form {
  @extend %flex-align;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  fill: var(--main-white);
  @include tablet {
    
  }
  @include desktop {
    flex-wrap: nowrap;
  }
}

.subscribe-form__box {
  position: relative;
}

.subscribe-form__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  outline: none;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--brand-color-bg);
  transition: border-color 250ms var(--timing-function);
  &:focus,
  &:hover {
    border: 1px solid var(--brand-color-accent);
  }
}

.subscribe-form__label {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition-property: transform 250ms var(--timing-function);
}

.subscribe-form__input:focus + .subscribe-form__label {
  transform: translateY(-45px);
}

.subscribe-form__input:not(:placeholder-shown) + .subscribe-form__label {
  transform: translateY(-45px);
}

.subscribe-form__button {
  @extend %flex-align;
  gap: 10px;
  padding: 13px 35px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 9;
  border: 0;
  cursor: pointer;
  fill: var(--main-white);
  color: var(--main-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--brand-color-accent);
}
