/* Header */

.header {
  padding: 16px 15px;
  border-bottom: 1px solid #ececec;
  margin: 0 auto;
  width: 100%;
  max-width: 450px;

  @include tablet {
    max-width: 738px;
    padding: 21px 15px;
  }
  @include desktop {
    padding: 24px 15px 25px;
    max-width: 1170px;
  }
}

.header__container {
  @extend %flex-align;
  justify-content: space-between;
}

.navigation {
  flex-grow: 1;
  @extend %flex-align;
  gap: 93px;
}

/* LOGO */
.logo {
  text-decoration: none;
  @extend %flex-align;
  flex-shrink: 0;
}

.logo__first {
  color: var(--brand-color-accent);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo__second {
  color: #000000;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  &:hover {
    color: var(--brand-color-accent);
  }
}

.navigation__list {
  // display: none;
  color: var(--brand-color-title);
  list-style-type: none;
  font-family: "roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-align: center;
  fill: var(--brand-color-text);
  @extend %flex-align;
  justify-content: center;
  gap: 50px;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  @media screen and (max-width: 767px) {
    display: none;
  }

  &:hover,
  &:focus {
    color: var(--brand-color-accent);
    fill: currentColor;
  }
}

.navigation__link {
  color: var(--brand-color-title);
  position: relative;
  padding-bottom: 32px;
  font-family: "roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  &:hover,
  &:focus {
    color: var(--brand-color-accent);
  }
  &.current {
    color: var(--brand-color-accent);
    &::after {
      display: block;
      content: "";
      width: 100%;
      height: 4px;
      border-radius: 2px;
      position: absolute;
      left: 0;
      bottom: -2px;
      background-color: var(--brand-color-accent);
    }
  }
}

.contacts {
  list-style-type: none;
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @include tablet {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  @include desktop {
    flex-direction: row;
    align-items: baseline;
    gap: 30px;
  }
}

.contacts__item {
  color: var(--brand-color-text);
  list-style-type: none;
  font-family: "roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-align: center;
  fill: currentColor;
  @extend %flex-align;
  justify-content: center;
  gap: 10px;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  &:hover,
  &:focus {
    color: var(--brand-color-accent);
    fill: currentColor;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 0 15px;
  background-color: #fff;
  z-index: 20;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  background-color: transparent;
  fill: var(--brand-color-title);
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  &:hover,
  &:focus {
    fill: var(--brand-color-accent);
  }
  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
}

.mobile-menu__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}

.mobile-menu {
  padding: 48px 40px 0px 40px;
  list-style: none;
  text-align: left;
  // @include tablet {
  //   display: none;
  // }
  // @include desktop {
  //   display: none;
  // }
}

.navigation--mobile {
  display: block;
  padding-bottom: 0px;
  font-size: 40px;
  line-height: 1.17;
  margin-bottom: 32px;
}

.contacts__mobile {
  padding: 48px 40px;
  // margin-bottom: 32px;
  list-style: none;
  text-align: left;
  // @include tablet {
  //   display: none;
  // }
  // @include desktop {
  //   display: none;
  // }
}

.mobile-menu__tel {
  display: block;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--brand-color-accent);
  margin-bottom: 32px;
}

.mobile-menu__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--brand-color-text);
}

.mobile-menu__socials {
  @extend %flex-align;
  gap: 10px;
  list-style: none;
  padding-top: 64px;
}
.mobile-menu__item {
  text-decoration: none;
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
  }
}

.mobile-menu__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brand-color-accent);
  cursor: pointer;
}
