.staff {
  background-color: #f5f4fa;
}

.staff__container {
  display: block;
  padding: 0 15px;
}

.staff__team {
  color: var(--brand-color-title);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}

.staff__list {
  gap: 30px;
  @extend %flex-align;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.staff__memb {
  @extend %flex-align;
  flex-direction: column;
  background-color: var(--main-white);
  width: 100%;
  list-style-type: none;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.staff__photo {
  width: 100%;
}

.staff__describe {
  padding: 30px 0;
  text-align: center;
}

.staff__name {
  color: var(--brand-color-title);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.staff__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.staff--socials {
  fill: var(--soc-icon);
  background-color: var(--main-white);
}
